<!DOCTYPE html>
<html lang="en">
<head>
    <title>BoQ for Preliminaries</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/navi.css">
</head>
<body>
<!--header navigation-->

<div class="navbar navbar-inverse navbar-fixed-top">
    <a href="#" class="navbar-brand">bluePrint</a>
    <div class="container">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse"></button>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/navi">HOME</a></li>
                <li><a href="/feedback">CONTACT US</a></li>
                <li>
                    <form class="row" style="padding-top: 6px;padding-right: 6px;padding-left: 6px;">
                        <div class="col-sm-10" style="padding: 0px;">
                            <input  class="form-control" type="text"  placeholder="Search" name="search">
                        </div>
                        <div class="col-sm-2" style="padding: 0px;">
                            <button  class="btn btn-default form-control" type="submit">
                                <a href="#"><span class="glyphicon glyphicon-search"></span></a>
                            </button>
                        </div>
                    </form>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Abeywardana ADAR
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/navi">Home</a></li>
                        <li><a href="#">Profile settings</a></li>
                        <li><a href="/login">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--header navigation -->
<h1 style="margin-top: 100px; text-align: center">1.0 BoQ for Preliminaries</h1>
<h3>Mode of Payment :</h3>
<ul>
    <li>The Contractor shall be paid sum quoted on satisfactory completion for items 1A/1, 1A/2, 1A/3, and 1A/6</li>
    <br/>
    <li>The Contractor shall be paid 60% of the sum quoted on satisfactory completion of temporary buildings or structures,
        30% in equal installments over the contract period and balance 10% on dismantling and removal on completion for items 1A/4, and 1A/5</li>
    <br/>
    <li>The Contractor shall be paid in equal installments over the items 1A/7, 1A/8,1A/9, 1A/10</li>
    <br/>
    <li>Contractor shall leave blank any cells referring to items he has priced or included elsewhere within the respective work package</li>
    <br/>
    <li>If the Engineer is of the opinion that any item in this section has not been fully attended by the Contractor,
        the Engineer may adjust amounts quoted by the Contractor for the items concerned</li>
    <br/>
    <li>Cost and expenses in connection with any other preliminary item which is not listed below,
        but is necessary for the due completion of works, is deemed to be included in the rates of the BOQ items</li>
    <br/>
    <li>If no price has been stated against any item  hereunder the Contractor will not be entitled to claim any money for such items even though
        he is obliged to execute the work or provide services described therein. Preliminary items priced by the Bidders are deemed to include the cost of unpriced items</li>
</ul>
<div class="container" style="width: 100%;">
    <div class="container">
        <table class="table table-bordered" id="myTable" style="text-align:left;">
            <thead>
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Unit</th>
                <th>Quantity</th>
                <th>Rate LKR</th>
                <th>Amount LKR</th>
            </tr>
            </thead>
            <tbody style=text-align:left;>
            {%  for record in values %}
                <tr class="odd gradeX" onclick="javascript:showRow(this);">
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1] }}</td>
                    <td><div class="select-wrapper">
                        <select type= "text" name="category" id="category">
                            <option selected>None</option>
                            {% for value in units %}
                                <option value="{{ value[0] }}">{{ value[0] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    </td>

                    <td><input id="column3" name="quantity[]" type="text" size="15"/></td>
                    <td><input id="column4" name="rate[]" type="text" size="15"/></td>
                    <td><input id="column5" name="amount[]" type="text" size="15" onkeyup="myFunction()"/></td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td><b>TOTAL SUM OF PRELIMINARIES</b></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="form-group" style="padding-bottom:20px">
    <div class="col-sm-offset-3 col-sm-10">
        <button type="button" class="btn btn-primary" id="printBtn">Print and Save</button>
        <a href="/boq2" class="btn btn-info" role="button">Create BoQ for Civil work</a>
        <a href="/create" class="btn btn-info" role="button">Cancel and Back to the Top</a>
        <a href="/create" class="btn btn-info" role="button">Edit</a>

    </div>
</div>

<!-- footer navigation bar-->

<footer class="site-footer">
    <div class="container">
        <p> bluePrint  © 2017 </p>
    </div>
</footer>
<!-- footer navigation bar-->


<script>
    function myFunction() {
        var table=document.getElementById("myTable");
        var total = 0;
        for (var i=1;i<table.rows.length;i++){
            var myResult = 0;
            if(parseFloat(table.rows[i].cells[3].firstChild.value ) > 0 && parseFloat(table.rows[i].cells[4].firstChild.value)> 0) {
                myResult = parseFloat(table.rows[i].cells[3].firstChild.value) * parseFloat(table.rows[i].cells[4].firstChild.value); // Parse the strings
                table.rows[i].cells[5].innerHTML = myResult;
                total += myResult;
            }
            table.rows[11].cells[5].innerHTML = total;
        }
    }

    $("#printBtn").click(function(){
        printcontent($("#tc").html());
    });

    //Print Trial Calculation
    function printcontent(content){
        var mywindow = window.open('', '', '');
        mywindow.document.write('<html><title>Ammortization Schedule</title><body><h2>Ammortization Schedule</h2>');
        mywindow.document.write(content);
        mywindow.document.write('</body></html>');
        mywindow.document.close();
        mywindow.print();
        return true;
    }
</script>

<!-- Scripts -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery.scrollex.min.js"></script>
<script src="../static/js/skel.min.js"></script>
<script src="../static/js/util.js"></script>
<script src="../static/js/main.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
