<!DOCTYPE html>
<html lang="en">
<head>
    <title>1.0 BoQ for Plumbing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/navi.css">
</head>
<body>
<!--header navigation-->

<div class="navbar navbar-inverse navbar-fixed-top">
    <a href="#" class="navbar-brand">bluePrint</a>
    <div class="container">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse"></button>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/navi">HOME</a></li>
                <li><a href="/feedback">CONTACT US</a></li>
                <li>
                    <form class="row" style="padding-top: 6px;padding-right: 6px;padding-left: 6px;">
                        <div class="col-sm-10" style="padding: 0px;">
                            <input  class="form-control" type="text"  placeholder="Search" name="search">
                        </div>
                        <div class="col-sm-2" style="padding: 0px;">
                            <button  class="btn btn-default form-control" type="submit">
                                <a href="#"><span class="glyphicon glyphicon-search"></span></a>
                            </button>
                        </div>
                    </form>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Abeywardana ADAR
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/navi">Home</a></li>
                        <li><a href="#">Profile settings</a></li>
                        <li><a href="/login">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--header navigation -->
<h1 style="margin-top: 100px; text-align: center">4.0 BoQ for Plumbing</h1>
<h3>Notes :</h3>
<p>Contractor shall refer to the drawings, specifications, notes, measurement & rate clauses and trade preambles before pricing.
    Unplasticised polyvinyl chloride (uPVC) pipes shall be used in the plumbing installation and they must confirm in every respect to the requirements of the SLS 147 or BS 4514.
    All fittings and pipe specials used in the plumbing installation shall be confirm to SLS 659 and suitable and compatible with all respects to the pipe line to which fittings and specials are fixed
    All sanitary fittings supplied shall be provided with a minimum 25 years warranty, issued jointly and severally by the local supplier and the manufacturer.
    All taps & accessories shall be chromium plated manufactured in Europe or Japan or approved equivalent and shall have a minimum 5 years' warranty.</p>
<b>Unless otherwise  measured separately, rates for plumbing work shall include for :</b>
<ol  type="a">
    <li>Complying with the relevant Sri Lankan, British or any other standard as given under the specifications and with the regulations of the Local Authority and or any other relevant authorities</li>
    <li> Cutting and waste of pipes etc., and joining pipes</li>
    <li>All specials such as elbows, bends, tees, junctions, plugs, reducers and similar pipe fittings except for valves which will be measured separately</li>
    <li> Connecting pipes to sanitary fixtures and appliances</li>
    <li> Casing to brick walls etc. and making good all works disturbed</li>

    <li> Necessary screws, nails sockets, connection back nuts standard pipe fixing or supporting clips, saddles, brackets, holder bats, straps etc.</li>
    <li> Connecting of different types of pipes</li>
    <li> Supply , installation, testing and disinfection after completion</li>
    <li> Submitting shop drawings where necessary</li>
    <li> Excavation, backfilling, disposal of surplus soil for items which were specifically mentioned</li>
    <li> All shop fabrication work, marking, delivery, unloading, hoisting, erecting and fixing as per detail drawings</li>
    <li> Members of any length</li>
    <li> Cutting or forming holes, mortises, chases or the like  and making good</li>
    <li> Cutting to size and shape and joints in the running length</li>
    <li> Grinding to a smooth finish, unless otherwise required</li>
    <li>Pipe penetrations through floor slabs or beams where necessary</li>
    <li> All necessary accessories, threaded & grooved fittings unless otherwise measured separately</li>
    <li> Sundry items related to the work where necessary as required by the Engineer</li>
</ol>
<b>Rates for sanitary fittings shall include for:- </b>
<ol  type="a">
    <li> Fittings such as taps, waste water outlet, internal overflows etc. and supporting brackets, incidental materials for fixing, unless otherwise  measured separately</li>
    <li> Assembling, jointing together fixing components parts, and jointing to pipes including necessary coupling and for leaving perfectly clean and in perfect working order on completion</li>

    <li> Jointing and connecting of pipes to sanitary fittings</li>
    <li> Supply, installation, testing and commissioning of the entire installation work</li>
    <li> Making good of the work disturbed</li>
    <li> Submitting samples for the approval by the Engineer</li>
    <li>Protecting the works</li>
</ol>

<b>Rates for drainage work shall include for :-</b>
<ol  type="a">
    <li> Laying of pipes to falls</li>
    <li> Excavation, backfilling, disposal of surplus soil</li>
    <li>All pipe specials such as bends, junctions, elbows, tees etc.</li>
    <li> Connection to sides of manholes etc.</li>
    <li> Providing sleeves etc., when pipes pass through walls, foundations etc.</li>
    <li> Giving notices, obtaining permits, paying fees, fixing, testing and commissioning etc.</li>
</ol>

<p><b>Hot Water Installation</b><br/>
    Notes:
    Hot water supply Pipes, Valves shall be as manufactured in Italy, UK, Germany, Japan, Austrailia or as approved by the Engineer.
    <br/>
    Contractor shall furnish minimum 5 year comprehensive warrantee severally and jointly with the manufacturer and the supplier, for all equipments fittings and the entire installation
</p>
<div class="container" style="width: 100%;">
    <div class="container">
        <table class="table table-bordered" id="myTable" style="text-align:left;">
            <thead>
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Unit</th>
                <th>Quantity</th>
                <th>Rate LKR</th>
                <th>Amount LKR</th>
            </tr>
            </thead>
            <tbody style=text-align:left;>
            {%  for record in values %}
                <tr class="odd gradeX" onclick="javascript:showRow(this);">
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1] }}</td>
                    <td>
                        <div class="select-wrapper">
                            <select type= "text" name="category" id="category" method="POST" action="/drop_down">
                                <option selected>None</option>
                                {% for x in units %}
                                    <option value="{{ x[0] }}">{{ x[0] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>

                    <td>{{ record[3] }}</td>
                    <td>{{ record[4] }}</td>
                    <td>{{ record[5] }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td><b>TOTAL SUM OF PLUMBING</b></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <!--        <p>Click the buttons to create and delete row(s) for the table.</p>
                <button onclick="myCreateFunction()">Insert new row</button>
                <button onclick="myDeleteFunction()">Delete row</button>
            </div>
        </div>
        <script>
            function myCreateFunction() {
                var table = document.getElementById("myTable");
                var row = table.insertRow(4);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                cell1.innerHTML = "NEW CELL1";
                cell2.innerHTML = "NEW CELL2";
                cell3.innerHTML = "NEW CELL3";
            }

            function myDeleteFunction() {
                document.getElementById("myTable").deleteRow(4);
            }
        </script>
           -->
    </div>
</div>

<div class="form-group" style="padding-bottom:20px">
    <div class="col-sm-offset-3 col-sm-10">
        <a href="/boq5" class="btn btn-info" role="button">Create BoQ for Provisional Sums</a>
        <a href="/create" class="btn btn-info" role="button">Cancel and Back to the Top</a>
        <a href="/create" class="btn btn-info" role="button">Edit</a>
        <a href="/create" class="btn btn-info" role="button">Generate PDF</a>
    </div>
</div>

<!-- footer navigation bar-->

<footer class="site-footer">
    <div class="container">
        <p> bluePrint  © 2017 </p>
    </div>
</footer>
<!-- footer navigation bar-->
<script>
    function myFunction() {
        var table=document.getElementById("myTable");
        var total = 0;
        for (var i=1;i<table.rows.length;i++){
            var myResult = 0;
            if(parseInt(table.rows[i].cells[3].firstChild.value ) > 0 && parseInt(table.rows[i].cells[4].firstChild.value)> 0) {
                myResult = parseInt(table.rows[i].cells[3].firstChild.value) * parseInt(table.rows[i].cells[4].firstChild.value); // Parse the strings
                table.rows[i].cells[5].innerHTML = myResult;
                total += myResult;
            }
            table.rows[11].cells[5].innerHTML = total;
        }
    }
</script>
<!-- Scripts -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery.scrollex.min.js"></script>
<script src="../static/js/skel.min.js"></script>
<script src="../static/js/util.js"></script>
<script src="../static/js/main.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
